main{
    display:flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
}
.leftContainer{
    border: 1px solid black;
    box-sizing: border-box;
    width:210px;
    background: #023459;
    font:white;
    padding:5px;
    padding-top:20px;
    min-width:195px;
}
.leftContainer span{
    color: white;
}
.leftContainer a{
    color: white;
}

.leftContainer > h3{
    color: white;
    text-decoration: underline;
}
.leftContainer > p{
    color: white;
    text-decoration: underline;
}
.skills{
    color: white;

    list-style-position: inside;
    padding-left:10px;
}
.contact{
    display:flex;
    flex-direction:row;
    align-items: center;
}
#profile{
    display:flex;
    width:120px;
    height:120px;
    margin:50px auto;
    border: 5px solid white;
    border-radius:50%;
    padding-top:10px;
}
#profile:hover{
    transform: scale(1.1);
    border-color: #8EB6CF;
}
.header:hover{
    background-color: #8EB6CF;
    color:#023459;
}

div > img{
    width:20px;
    height:auto;
    padding-right:7px;
    margin-top:3px;
}
.rightContainer{
    border:1px solid #023459;
    width: 60%;
    min-width:350px;
    display:flex;
    flex-direction: column;
    text-align: justify;
    padding:10px;  
    box-sizing: border-box;
}
.header{
    display:flex;
    flex-direction: column;
    background-color:#e0e6eb;
    width:100%;
    text-align:center
}
#name{
    text-transform: uppercase;
}
#name:hover{
    transform: scale(1.1)
}
.rightContainer h3{
    text-decoration: underline;
}
.work{
    padding:10px;
}
hr{
    color:black;
    width:55%;
}
@media (max-width: 600px) {
    main{
        display:flex;
        flex-direction: column-reverse;
        width:100%;
    }
    .leftContainer{
        width:100%;
        text-wrap: wrap;
        padding-left:15px;
    }
    .rightContainer{
        display:flex;
        width:100%;
        padding:10px;
        text-wrap: wrap;
        background-color: #acc8d9;
    }
    .header{
        display:flex;

    }
    .summary{
        display: flex;
        flex-direction: column;
        width:100%;
        box-sizing: border-box;
        padding:10px;
    }
  }